*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
header{
    background-image: linear-gradient(cornflowerblue,white);
    padding: 10px 10px;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
}

header button{
    background-color: blue;
    padding: 10px;
    color: white;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to right, cornflowerblue , white);
  padding: 30px 0px;
  position: fixed;
  border-right: solid;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.wrapper .main_content .info{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: 1px solid;
    margin:50px;    
    box-shadow: 5px 10px 8px #888888;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  display: block;
  text-transform: capitalize;
}
.wrapper .sidebar ul li:hover{
    background-color: cornflowerblue;
}